body {
  background-color: black;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: whitesmoke;
}
p {
  line-height: 25px;
}
h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
  padding: 20px;
}
/* .container {
  max-width: 1200px;
  margin: 0 auto;
} */

.wallpaper {
  height: 100vh;
  max-width: 100vmax;

  /* border: 3px solid blue; */
}
.header label {
  display: none;
}
.header {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* border-bottom: 1px solid whitesmoke; */
}
.header button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  /* border: 1px solid white; */
  border-radius: 20px;
  /* background: rgba(47, 47, 47, 0.6); */
}
.header button:hover {
  background-color: rgba(47, 47, 47, 0.6);
  border: 1px solid silver;
  transform: scale(1.1);
}
.header .button {
  /* border: 1px solid orange; */
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.button-comics {
  margin-right: 15px;
}

.header-home {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
}

/* header img {
  width: 215px;
  height: 100px;
  object-fit: contain;
  border: 1px solid blue;
} */
.logo-round {
  width: 150px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 5px;
}
.home-description {
  /* border: solid 1px red; */
  width: 39%;
  margin-left: 90px;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-description p {
  line-height: 23px;
}
header .logo-principal {
  height: 52px;
  object-fit: cover;
}

.wallpaper button {
  width: 200px;
  height: 50px;
  border-radius: 28px;
  font-size: 19px;
  font-weight: 600;
  color: black;
  margin-bottom: 30px;
  background-color: white;
}
.wallpaper button:hover {
  background-color: #604473;
  color: white;
  transform: scale(1.1);
}
.button-home {
  /* border: white solid 1px; */
  display: flex;
  justify-content: space-around;
}

/* ************************ 
********Personnages*********
************************ 
************************  */

.lnr-magnifier {
  color: black;
  position: absolute;
  left: 478px;
  top: 271px;
}

.input-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 450px;
  height: 40px;
  padding-left: 30px;
  border-radius: 10px;
  border: thick double rgb(212, 209, 209);
  color: rgb(184, 37, 37);
  position: relative;
  margin-top: 40px;
}

article {
  /* border: 3px solid blue; */
  width: 80%;
  height: 620px;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article :hover {
  transform: scale(1.1);
  cursor: pointer;
}

.character-left-part {
  width: 40%;
  border: thick double silver;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 16px;
  height: 80%;
  display: flex;
  align-items: center;
}
.character-left-part .character-img {
  border-bottom-left-radius: 8px;
  border-top-right-radius: 16px;
}

.character-right-part {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid 1px white; */
  /* padding-left: 30px; */
}
.character-right-part h2 {
  /* border: 1px solid red; */
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  color: lightgoldenrodyellow;
  margin-bottom: 80px;
}
.character-right-part p {
  font-size: 19px;
  font-style: italic;
  line-height: 22px;
}
.description-comic {
  color: whitesmoke;
}

.veve {
  /* border: 2px solid green; */
  padding: 30px;
}

.character-card {
  display: flex;
}
.character-img {
  height: 100%;
}

.img-comic {
  height: 100%;
}

.button-offset {
  /* border: solid 1px yellow; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button-offset > button {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}
.button-offset > button :hover {
  transform: scale(1.1);
}

.button-offset .lnr-arrow-left-circle,
.lnr-arrow-right-circle {
  /* border: 1px solid red; */

  font-size: 50px;
}
.page {
  font-size: 20px;
}

/* .lnr-arrow-left-circle {
  margin-right: 30px;
}
.lnr-arrow-right-circle {
  margin-left: 30px;
} */

/* ************************ 
********Personnages*********
************************ 
************************  */

.comics-left-part {
  width: 40%;
  height: 80%;
  display: flex;
  align-items: center;
  border: thick double silver;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 16px;
  /* border: thick double silver;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 16px;
  height: 80%; 
  display: flex;
  align-items: center; */
}
.comics-left-part .img-comic {
  border-bottom-left-radius: 8px;
  border-top-right-radius: 16px;
}

.comics-right-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* border: solid 1px white; */
  /* padding-left: 30px; */
}
.container-comics {
  padding: 20px;
}

.comics-right-part h2 {
  /* border: 1px solid red; */
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  color: lightgoldenrodyellow;
  margin-bottom: 80px;
}

@media screen and (max-width: 900px) {
  .home-description {
    width: 60%;
    padding-right: 20px;
  }
  .button-home {
    /* border: 1px solid red; */
    gap: 1rem;
    /* width: 100%; */
  }
  .wallpaper button {
    font-size: 15px;
    width: 90px;
    border-radius: 20px;
    height: 40px;
  }
  .logo-round {
    width: 80px;
    /* border: 1px solid yellow; */
    height: 40px;
  }
  .header {
    /* border: solid 1px red; */
    height: 80px;
  }

  .header-view {
    height: 100vh;
    /* display: block; */

    /* border: 1px solid blue; */
  }
  .header .hide-nav {
    display: none;
  }
  .nav-view {
    /* display: none; */
    flex-direction: column;
    display: block;
    /* justify-content: space-evenly; */
    /* border: solid 1px green; */
    height: 80vh;
    width: 100vw;
    /* background-color: black; */
  }
  header nav {
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: center;
  }
  .responsive-header {
    /* border: solid 4px red; */
    width: 100vw;

    display: flex;
    justify-content: space-between;
  }
  .header label {
    display: flex;
    font-size: 20px;
    align-items: center;
    /* justify-content: flex-end; */
    /* border: 2px solid red; */
  }
  .input-search input {
    /* border: 1px solid red; */
    width: 70%;
  }
  .character-card {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .veve {
    /* border: solid 3px green; */
    padding: 1px;
    width: 200px;
  }

  /* .header {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
  }
  .header button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
   
    border-radius: 20px;
    
  }
  .header button:hover {
    background-color: rgba(47, 47, 47, 0.6);
  
    transform: scale(1.1);
  }
  .header .button {
   
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .header-home {
   
    display: flex;
    justify-content: center;
  } */
}
